@import "bootstrap-evtrs";

/*-------- Mixins -----------*/

.full-size {
   width: 100%;
   height: 100%;
}

@mixin rotate($deg) {
  transform: rotate($deg);
}

.transition {
  transition: all 1s;
}

/*------ Global styles ----------*/

body {
  font-family: 'Fjalla One', sans-serif;;
  color: #484848;
}

.content-container {
  position: relative;
  @extend .full-size;
}

.page {
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  @extend .full-size;
}

.content-view {
  bottom: 50px;
  @extend .full-size;
}

h1,h2 {
  font-weight: bolder;
}

section {
  padding: 3%;
}

p {
  font-size: large;
  font-family:  'Coda Caption', sans-serif
}

article {
  padding: 15px;

}

hr {
  border: 0;
  border-bottom: 2px dashed #ccc;
  background: #999;
  width: 50%;
}

.of-hidden {
  overflow: hidden;
}
.of-visible {
  overflow: visible;
}

/* NAVBAR -----------*/

.navbar {
  z-index: 9;
}

.navbar-brand {
  font-size: xx-large;
}

li.nav-btn {
  border-top: 2px transparent solid;
}

li.nav-btn:hover, li.nav-btn.active {
  border-top: 2px darkgray solid;
}

li.nav-btn.selected {
  border-top: 2px orange solid;
}


/* INTRO PAGE -----------------*/
.page-intro {
  background: url("../images/bg-everest-bw.jpg");
  background-size: cover;
  position: relative;
  @extend .full-size;

}

@media (min-width: 767px) {
  .intro-container {
    width: 700px;
    margin-left: 37%;
  }

  .intro-title {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .intro-container {
    with: 100%;
    min-width: 350px;
    margin-left: 2%;
    margin-right: 2%;
  }
  .intro-title {
    font-size: 45px;
  }
}

.intro-title {
  font-family: 'Coda Caption', sans-serif;
  line-height: 90%;
}

.intro-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  background: rgba(104, 104, 104, 0.5);
  border-radius: 5px;
  color: white;
  padding: 25px;
  font-size: large;
}

.intro-spell {
  font-size: x-large;
  font-weight: lighter;
  font-family: arial, sans-serif;
}

.intro-adj {
  font-style: italic;
  font-size: medium;
}

.abs-center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.intro-quote {
  font-weight: bold;
}

/* INTRO-BUTTON---------*/
div.intro-bttn-container {
  border-top: 1px solid white;
  padding-left: 35px;
  padding-top: 18px;
  margin-top: 15px;
}

span.intro-bttn-arrow {
  position: relative;
  background: url(../images/down-arrow.png) no-repeat;
  background-size: 100px 40px;
  display: block;
  padding-left: 110px;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  width: 250px;
  height: 45px;
}

/* INTRO-PRON---------*/
div.intro-pron {
  float: left;
}

.intro-speaker {
  background: url(../images/speaker.png) no-repeat border-box right;
  background-size: 21px;
  padding-left: 10px;
  width: 23px;
  height: 23px;
  float: left;
  cursor: pointer;

}

/* ABOUT PAGE ---------*/
div.page-about {
  background: white url(../images/dotted-bg-4px.png);
  padding: 0;
  margin: 0;
  min-height: 100%;
}

div.about-container {
  background: #ffffff;
  -webkit-box-shadow: 8px 0 6px -6px lightgrey, -8px 0 6px -6px lightgrey;
  -moz-box-shadow: 8px 0 6px -6px lightgrey, -8px 0 6px -6px lightgrey;
  box-shadow: 8px 0 6px -6px lightgrey, -8px 0 6px -6px lightgrey;
  height: 100%;
  width: 64%;
  max-width: 900px;
  margin: 0 auto;
  z-index: 4;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 50px;

}

div.skewed {
  @include rotate(-4deg);
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  div.about-container {
    width: 90%;
    padding:1%
  }
}

span.emp{
//  color:orange;
}

span.contact-icon {
  width: 180px;
  height: 40px;
  background: url(../images/talk.svg) no-repeat right;
  background-size: 40px;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
  font-size: x-large;
  float:right;

}



/* CONTACT PAGE -----------------*/


div.page-contact {

  @extend .full-size;
}

div#gmap {
  @extend .full-size;

}

div.contact-bg-expanded {
  width: 70%;

}

div.contact-bg-retracted {
  width: 25%
}

div.contact-bg {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-top: 10%;
  @extend .transition;
  z-index: 2;
}

div.contact-container {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  text-align: center;
  padding: 20px;
  border: 1px darkgray solid;
}

div.table-border {
  border: 2px solid;
}

span.map-icon {
  background: url(../images/map-pointer.png) no-repeat center;
  background-size: 28px;
  height: 50px;
  width: 55px;
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 767px) {

  div.contact-container {
    background: rgba(104, 104, 104, 0.9);
  }

  div.contact-bg-expanded {
    width: 100%;
  }
  span.map-icon {
    visibility: hidden;
  }

  div.slant-right {
    visibility: hidden;
  }
}

div.slant-retracted {
  width: 55%
}

div.close-btn {
  position: relative;
  top: 60%;
  left: -25px;
  background: url(../images/close-icon.png) no-repeat ;
  background-size: 25px;
  height: 40px;
  cursor: pointer;
  visibility: hidden;
  @extend .transition;
}

div.close-btn-visible {
    visibility: visible;
}

div.slant-expanded {
  width: 90%;
}

div.slant-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 150vh;
  margin: -300px -300px 600px 0px;
  background: lightgrey;
  border-left: 1px solid #808080;
  @include rotate(-10deg);
  @extend .transition;
  z-index: 1;

}

a.contact-link {
  color: #484848;
  font-size: large;
}

/* ANIMATIONS -------------------*/

.page.ng-leave {
  z-index: 8;
}

.page.ng-enter {
  z-index: 1;
}

/* PAGE SPECIFIC ANIMATIONS -------------- */

/* CONTENT VIEW -------------------------- */
.content-view.ng-leave {
  animation: fadeOut 0.3s both ease-in;
}

.content-view.ng-enter {
  animation: scaleUp 0.4s both ease-in;
}

/* PAGE VIEW ------------------------ */
.page-view.ng-leave {
  animation: slideOutUp 0.9s both ease-out;
}

/* INTRO SLIDE IN --------------- */
.intro-container.ng-hide-add,
.intro-container.ng-hide-remove {
  transition: all 1.3s;
}

.intro-container.ng-hide {
  top: 0;
}

/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    transform: scale(0.95);
  }
}

/* fade out */

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* slide out to top */
@keyframes slideOutUp {

  to {
    transform: translateY(-100%);
  }
}







