@import "bootstrap-evtrs";

html {
  overflow-y: hidden;
  height: 100%;
}

body {
  height: 100%;
}

.content-container {
  position: relative;
  height: 100%;
}

.page {
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;

}

.page-intro {
  background: url("../images/bg-everest.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid;
  position: relative;
}

.page-services {
  background: lightgray;
  height: 100%;
}

.page-about {
  background: gray;
  height: 100%;
}

.content-view {
  top: 50px;
}

/* INTRO PAGE -----------------*/

H1.home {
  font-family: 'Coda Caption', sans-serif;
  font-size: 60px;
 // display: inline;
}

//change name
.intro-title {
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  top: 30%;
  background: rgba(104, 104, 104, 0.5);
  border-radius: 5px;
  color: white;
  padding: 0px 25px 25px 25px;
  font-size: large;
}

@media (min-width: 767px) {
  .intro-title {
    width: 700px
  }
}

@media (max-width: 767px) {
  .intro-title {
    with:100%;
    min-width: 350px;
    margin-left: 2%;
    margin-right: 2%;
  }
}

.intro-spell {
  font-size: x-large;
  font-weight: lighter;
  font-family: arial, sans-serif;
}

.intro-adj {
  font-style: italic;
  font-size: medium;
}

.abs-center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.intro-quote {
  font-weight: bold;
}

/* INTRO-BUTTON---------*/
.intro-bttn-container {
  border-top: 1px solid white;
  padding-left: 35px;
  padding-top: 18px;
  margin-top: 15px;
}

.intro-bttn-arrow {
  position: relative;
  background: url(../images/down-arrow.png);
  background-size: 90px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 150px;
  display: block;
  padding-left: 110px;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
}

/* INTRO-PRON---------*/

.intro-pron {
  float: left;
}

.intro-speaker {
  background: url(../images/speaker.png);
  background-repeat: no-repeat;
  background-size: 21px;
  background-origin: border-box;
  background-position: right;
  padding-left: 10px;
  width: 23px;
  height: 23px;
  float: left;
  cursor: pointer;

}

/* ANIMATIONS -------------------*/

.page.ng-leave {

  z-index: 9999;
}

.page.ng-enter {
  z-index: 8888;
}

/* page specific animations -------------- */

/* content view -------------------------- */
.content-view.ng-leave {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: rotateFall 1s both ease-in;
  -moz-transform-origin: 0% 0%;
  -moz-animation: rotateFall 1s both ease-in;
  transform-origin: 0% 0%;
  animation: rotateFall 1s both ease-in;
}

.content-view.ng-enter {
  -webkit-animation: scaleUp 0.5s both ease-in;
  -moz-animation: scaleUp 0.5s both ease-in;
  animation: scaleUp 0.5s both ease-in;
}

/* page view ------------------------ */
.page-view.ng-leave {
  -webkit-animation: slideOutUp 0.9s both ease-out;
  -moz-animation: slideOutUp 0.9s both ease-out;
  animation: slideOutUp 0.9s both ease-out;
}

/* Title slide in --------------- */
.intro-title.ng-hide-add,
.intro-title.ng-hide-remove {
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.intro-title.ng-hide {
  top: 0;
}

//.intro-text.ng-hide-add,
//.intro-text.ng-hide-remove {
//  -webkit-transition: 3s linear all;
//  transition: 3s linear all;
//  display:block!important;
//  opacity:1;
//}
//
//.intro-text.ng-hide {
//  opacity:0;
//}
/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: rotateZ(17deg);
  }
  60% {
    -webkit-transform: rotateZ(16deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg);
  }
}

@-moz-keyframes rotateFall {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  20% {
    -moz-transform: rotateZ(10deg);
    -moz-animation-timing-function: ease-out;
  }
  40% {
    -moz-transform: rotateZ(17deg);
  }
  60% {
    -moz-transform: rotateZ(16deg);
  }
  100% {
    -moz-transform: translateY(100%) rotateZ(17deg);
  }
}

@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}

/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    transform: scale(0.9);
  }
}

@-moz-keyframes scaleUp {
  from {
    opacity: 0.3;
    -moz-transform: scale(0.9);
  }
}

@-webkit-keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.9);
  }
}

/* slide out to top */
@keyframes slideOutUp {

  to {
    transform: translateY(-100%);
  }
}

@-moz-keyframes slideOutUp {

  to {
    -moz-transform: translateY(-100%);
  }
}

@-webkit-keyframes slideOutUp {

  to {
    -webkit-transform: translateY(-100%);
  }
}






