@import "bootstrap-evtrs";

html {
  overflow-y: hidden;
  height: 100%;
}

body {
  height: 100%;
}

.content-container {
  position: relative;
  height: 100%;
}

.page {
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;

}

.page-intro {
   background: url("../images/bg-everest.jpg");
   background-size: cover;
   height: 100%;
   border-bottom: 1px;
}

.page-services {
  background: lightgray;
  height: 100%;
}

.page-about {
  background: gray;
  height: 100%;
}

H1.home {
color:white;
font-size: 60px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.intro-title {
  top: 60%;
  left: calc(50% - 300px);
}

.intro-text {
  Top: 70%;
  left: calc(50% - 1px);
}

.abs-center {
  position: absolute;
  margin-left:auto;
  margin-right:auto;
}

/* ANIMATIONS -------------------*/

.page.ng-leave {

  z-index: 9999;
}

.page.ng-enter {
  z-index: 8888;
}

/* page specific animations ------------------------ */

/* content view -------------------------- */
.content-view.ng-leave {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: rotateFall 1s both ease-in;
  -moz-transform-origin: 0% 0%;
  -moz-animation: rotateFall 1s both ease-in;
  transform-origin: 0% 0%;
  animation: rotateFall 1s both ease-in;
}

.content-view.ng-enter {
  -webkit-animation: scaleUp 0.5s both ease-in;
  -moz-animation: scaleUp 0.5s both ease-in;
  animation: scaleUp 0.5s both ease-in;
}

/* page view ------------------------ */
.page-view.ng-leave {
  -webkit-animation: slideOutUp 0.9s both ease-out;
  -moz-animation: slideOutUp 0.9s both ease-out;
  animation: slideOutUp 0.9s both ease-out;
}

/* Title slide in --------------- */
.intro-title.ng-hide-add,
.intro-title.ng-hide-remove {
  -moz-transition:all 2s;
  -webkit-transition:all 2s;
  -o-transition:all 2s;
  transition:all 2s;
}

.intro-title.ng-hide {
  top:0;
}

.intro-text.ng-hide-add,
.intro-text.ng-hide-remove {
  -webkit-transition: 3s linear all;
  transition: 3s linear all;
  display:block!important;
  opacity:1;
}

.intro-text.ng-hide {
  opacity:0;
}
/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: rotateZ(17deg);
  }
  60% {
    -webkit-transform: rotateZ(16deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg);
  }
}

@-moz-keyframes rotateFall {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  20% {
    -moz-transform: rotateZ(10deg);
    -moz-animation-timing-function: ease-out;
  }
  40% {
    -moz-transform: rotateZ(17deg);
  }
  60% {
    -moz-transform: rotateZ(16deg);
  }
  100% {
    -moz-transform: translateY(100%) rotateZ(17deg);
  }
}

@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}

/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    transform: scale(0.9);
  }
}

@-moz-keyframes scaleUp {
  from {
    opacity: 0.3;
    -moz-transform: scale(0.9);
  }
}

@-webkit-keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.9);
  }
}

/* slide out to top */
@keyframes slideOutUp {

  to {
    transform: translateY(-100%);
  }
}

@-moz-keyframes slideOutUp {

  to {
    -moz-transform: translateY(-100%);
  }
}

@-webkit-keyframes slideOutUp {

  to {
    -webkit-transform: translateY(-100%);
  }
}






