<!DOCTYPE html>
<html ng-app="eventApp">
<head>
    <link href='http://fonts.googleapis.com/css?family=Coda+Caption:800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/eventures.css">
</head>
<body>
<div ui-view class="page page-view"></div>

<script type="text/ng-template" id="/intro.part.html">
    <section class="page-intro">
        <div class="container">
            <div class="abs-center intro-title" ng-hide="hidden">
                <h1 class="home">WE ARE EVENTUROUS</h1>
                <span class="intro-spell">EV.EN.TUR.OUS</span><br/>
                <div class="intro-pron">/eˈvenCHərəs,əd-/</div>
                <div class="intro-speaker" ng-click="playAudio()"></div>
                <br/>
                <p class="intro-adj">adjective</p>
                        <span class="intro-text">
                            willing to take risks or to try out new methods, ideas, or experiences.
                </span><br/>
                <span class="intro-quote">'let's be eventurous'</span><br/>
                <span class="intro-syn">synonyms</span>
                : daring, intrepid, venturesome, bold, fearless, brave, unshrinking, dauntless;
                <div class="intro-bttn-container">
                    <span class="intro-bttn-arrow" ui-sref="base.services">MORE</span>
                </div>
            </div>
            <audio id="pron">
                <source src="audio/eventures-pron.ogg" type="audio/ogg">
                <source src="audio/eventures-pron.mp3" type="audio/mpeg">
            </audio>
    </section>
</script>

<script type="text/ng-template" id="/base.part.html">
    <nav>
        <H1>NAV HERE</H1>
        <div>
            <a class="btn btn-default" ui-sref="intro">Home</a>
        </div>
    </nav>
    <div class="content-container">
        <div ui-view="content-view" class="page content-view"></div>
    </div>
</script>

<script type="text/ng-template" id="/services.part.html">
    <div class="page-services">

        <div class="container">
            <div class="row">
                <h1>services</h1>
                <div>
                    <a class="btn btn-default" ui-sref="base.about">About</a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/about.part.html">
    <section class="page page-about">
        <div class="container">
            <div class="row">
                <h1>about</h1>

                <div>
                    <a class="btn btn-default" ui-sref="base.services">Services</a>
                </div>
            </div>
        </div>
        </div>
    </section>
</script>

<script type="text/ng-template" id="/contact.part.html">

    <section class="page-contact">
        <div class="container">
            <div class="row">
                <h1>Contact</h1>
            </div>
        </div>
        </div>
    </section>
</script>

</body>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="scripts/app.js"></script>

</html>
