<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="fragment" content="!">
    <meta name="google-site-verification" content="aWL2BydOlsGnxRjvxPDM2BK9KigENNZCQAyxaqy3ePc"/>
    <title>Eventures</title>
    <meta name="description" content="We are a product design and development company">
    <meta name="keywords" content="Web development, Application development, UX, Web design, Web marketing">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Coda+Caption:800'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="eventApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div ui-view class="page page-view"></div>

<script type="text/ng-template" id="/intro.part.html">
    <div class="page-intro">
        <div class="intro-container" ng-hide="hidden">
            <header>
                <span class="intro-title">WE ARE</span><br/>
                <span class="intro-title">EVENTUROUS</span>
            </header>
            <br/>
            <span class="intro-spell">EV.EN.TUR.OUS</span><br/>

            <div class="intro-pron">/eˈvenCHərəs,əd-/</div>
            <div class="intro-speaker" ng-click="playAudio()"></div>
            <br/>

            <p class="intro-adj">adjective</p>
                        <span class="intro-text">
                            willing to take risks or to try out new methods, ideas, or experiences.
                </span><br/>
            <span class="intro-quote">'let's be eventurous'</span><br/>
            <span class="intro-syn">synonyms</span>
            : daring, intrepid, venturesome, bold, fearless, brave, unshrinking, dauntless;
            <div class="intro-btn-container">
                <span class="intro-btn-arrow" ui-sref="base.about">SEE MORE</span>
            </div>
        </div>
        <audio id="pron">
            <source src="audio/eventurous-pron.ogg" type="audio/ogg">
            <source src="audio/eventurous-pron.mp3" type="audio/mpeg">
        </audio>
    </div>
</script>

<script type="text/ng-template" id="/base.part.html">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#evtrs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-social social-m">
                    <ul class="nav-social">
                        <li class="social">
                            <a class="twitter" href="https://twitter.com/eventures_io" target="_blank"></a>
                        </li>
                        <li class="social">
                            <a class="gplus" href="http://google.com/+EventuresIoplus" target="_blank"></a>
                        </li>
                        <li class="social">
                            <a class="facebook" href="http://facebook.com/eventures.io" target="_blank"></a>
                        </li>
                    </ul>
                </div>
                <a class="navbar-brand" href="/">EVENTURES</a>
            </div>

            <div class="navbar-social  social-d">
                <span class="separator"></span>
                <ul class="nav-social">
                    <li class="social">
                        <a class="twitter" href="https://twitter.com/eventures_io" target="_blank"></a>
                    </li>
                    <li class="social">
                        <a class="gplus" href="http://google.com/+EventuresIoplus" target="_blank"></a>
                    </li>
                    <li class="social">
                        <a class="facebook" href="http://facebook.com/eventures.io" target="_blank"></a>
                    </li>
                </ul>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="evtrs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li class="nav-btn" role="about">
                        <a ui-sref="base.about">About</a>
                    </li>
                    <li class="nav-btn" role="contact">
                        <a ui-sref="base.contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content-container">
        <div ui-view="content-view" class="page content-view" ng-class="overflow"></div>
    </div>
</script>

<script type="text/ng-template" id="/about.part.html">
    <div class="page-about">
        <div class="container about-container">
            <section>
                <header>
                    <div class="skewed">
                        <h1><span class="emp">*&nbsp;</span>What we do</h1>
                    </div>
                </header>
                <article>
                    <p>
                        We are a digital product design and development company based in sunny Lisbon.
                    </p>

                    <p>
                        We use best of class UX design to build websites and applications with seamless user
                        experiences.
                    </p>

                    <p>
                        Our designs are the result of an iterative process, achieved in close collaboration with our
                        customers.
                    </p>

                    <p>
                        We leverage proven and emerging technologies to enable creative solutions that stand out.
                    </p>

                    <p>
                        We are very resolute in adopting best practices, be it in the design, build or deployment
                        phases.
                    </p>

                    <p>
                        We take pride in delivering fully tested products, at each iteration.

                    </p>

                </article>
            </section>

            <section>
                <header>
                    <div class="skewed">
                        <h1><span class="emp">*&nbsp;</span>Who we are</h1>
                    </div>
                </header>
                <article>
                    <p>
                        We are a team of enthusiastic professionals, with years of experience building web
                        applications.
                    </p>

                    <p>
                        We are dedicated to help the web move forward.
                    </p>

                </article>
                <br/>
                <hr/>
            </section>
            <div class="contact-btn" ui-sref="base.contact">Talk to us</div>

        </div>
    </div>
</script>

<script type="text/ng-template" id="/contact.part.html">
    <google-map address="address" zoom="16"></google-map>
    <div class="slant-right" ng-class="slant">
        <div class="close-btn" ng-class="visible" ng-click="toggleMap()"></div>
    </div>

    <div class="contact-bg" ng-class="contact">
        <div class="contact-container">
            <div>
                <h2>
                    OFFICE
                </h2>
            </div>
            <div>
                <p>
                    Largo Rafael Bordalo Pinheiro, 16
                </p>

                <p>
                    1200 369 Lisbon
                </p>
                <span class="map-icon" ng-click="toggleMap()"></span>
            </div>
            <div>
                <h2>CONTACT</h2>
            </div>
            <div>
                <p>
                    <a class='contact-link' href="mailto:contact@eventures.io" target="_blank">contact@eventures.io</a>
                </p>
            </div>

            <!--<div>-->
                <!--<form ng-submit="sendContactRequest()">-->
                    <!--<div id="name-group" class="form-group">-->
                        <!--<label>Name</label>-->
                        <!--<input type="text" name="name" class="form-control" placeholder="Your name"-->
                               <!--ng-model="formData.name">-->
                        <!--<span class="help-block"></span>-->
                    <!--</div>-->

                    <!--<div id="email-group" class="form-group">-->
                        <!--<label>Email</label>-->
                        <!--<input type="text" name="email" class="form-control" placeholder="Your email"-->
                               <!--ng-model="formData.email">-->
                        <!--<span class="help-block"></span>-->
                    <!--</div>-->

                    <!--<button type="submit" class="btn btn-success btn-lg btn-block">-->
                        <!--&lt;!&ndash;span class="glyphicon glyphicon-flash"></span&ndash;&gt; Submit!-->
                    <!--</button>-->
                <!--</form>-->
            <!--</div>-->
            <div class="form-toggle">
                Use the form
            </div>
        </div>

    </div>
    <div class="close-btn-mob" ng-class="mob" ng-click="toggleMap()"></div>
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55532265-1', 'auto');
    ga('send', 'pageview');

</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

</body>

<!-- build:js(app) scripts/script.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!-- endbower -->
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/app.js"></script>
<!-- endbuild -->


<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWMXb4jIATujy9HJ13AHZ-VjmdgRjEZmE&sensor=false"></script>


</html>
